* {
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  align-items: center;
}

.centered {
  align-items: center;
  justify-content: center;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.absolute {
  position: absolute;
}

.rotate {
  transform: rotate(-20deg);
}

.direction-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.h-200 {
  height: 200px;
}

.h-40 {
  height: 40px;
}

.h-50 {
  height: 70px;
}

.h-25 {
  height: 25px;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-65 {
  width: 65%;
}

.w-50 {
  width: 50%;
}

.w-35 {
  width: 35%;
}

.m-bottom {
  margin-bottom: 20px;
}

.m-top {
  margin-top: 35px;
}

.m-around {
  margin: 30px 0 45px 0;
}
/* ------------------- Backgrounds -------------------- */

.bg-white {
  background-color: white;
}

.bg-gray01 {
  background-color: rgb(170, 168, 168);
}

.bg-gray02 {
  background-color: gray;
}

.bg-gray03 {
  background-color: rgb(99, 97, 97);
}

.bg-gray04 {
  background-color: #333333;
}

.bg-gray06 {
  background-color: rgb(85, 83, 83);
}

.bg-gray05 {
  background-color: #000000;
}

/* ------------------- Borders -------------------- */

.border-8 {
  border-radius: 8px;
}

.border-12 {
  border-radius: 12px;
}

/* ------------------- Header -------------------- */

.logo {
  width: 18%;
}

.logo div {
  height: 55px;
  width: 80%;
}

.main-nav {
  width: 56%;
}

.search {
  width: 28%;
}

.search input {
  width: 85%;
  height: 65%;
}

.nav-item {
  width: 65px;
  height: 20px;
}

.nav-li {
  margin: auto;
  list-style: none;
  height: 55px;
  width: 85px;
}

.nav-li:hover {
  background-color: gray;
}

.nav-li-special:hover {
  background-color: rgb(99, 97, 97);
}

/* ------------------------------------------------------------- Main ------------------------------------------------------------------- */

/* -------------------------------- First block ---------------------------- */

.container-above {
  margin: 190px 0 0 36px;
}

.container-below {
  margin: 40px 0 0 36px;
}

.container-first {
  position: relative;
  height: 100vh;
}

.container-second {
  height: 80vh;
}

.title {
  left: calc((100% - 300px) / 2);
  top: 45px;
  height: 70px;
  width: 300px;
}

.title2 {
  left: calc((100% - 150px) / 2);
  top: 100px;
  height: 70px;
  width: 150px;
}

.container-button {
  top: 45px;
  right: 55px;
  width: 220px;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 50px;
  height: 50px;
}

.icon:hover {
  transform: none;
}

.upper {
  height: 100px;
  width: 400px;
}

.square {
  width: 70px;
  height: 70px;
}

.square:hover {
  transform: none;
}
.button {
  margin-left: 20px;
  width: 165px;
  height: 40px;
}

.name {
  width: 190px;
  height: 25px;
  margin: 8px auto auto 25px;
}

.main-articles {
  margin-bottom: 15px;
}

.comment {
  width: 130px;
  margin-left: 15px;
}

.tags-container {
  justify-content: flex-start;
  margin-top: 20px;
}

.tags-container li {
  margin-left: 0;
}

.line {
  border-bottom-style: solid;
  width: 40px;
  border-color: white;
  margin-top: 100px;
}

/* -------------------------------- Second block ---------------------------- */

.grid-container {
  margin: 25px 15px 25px 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 97vh);
  row-gap: 50px;
}

.area-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.area-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.grow:hover {
  transform: scale(1.05, 1.05);
  background-color: gray;
}

.container-blog {
  margin: 20px auto auto 40px;
  justify-content: space-around;
}

.container-blog span {
  margin-left: 0;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: 35px;
}

.article-h1 {
  height: 60px;
  width: 400px;
}

.load {
  width: 200px;
}

.line2 {
  border-bottom: 2px solid gray;
  height: 10px;
}

.clicks {
  height: 120vh;
}

.bigger-circle {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-top: 35px;
}
